.error-container {
    left: 50%;
    top: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    position: fixed;
}

.modalbox.error {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    padding: 25px 25px 15px;
    text-align: center;
}

.modalbox.error.animate .icon {
    -webkit-animation: fall-in 0.75s;
    -moz-animation: fall-in 0.75s;
    -o-animation: fall-in 0.75s;
    animation: fall-in 0.75s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modalbox.error h1 {
    font-family: 'Montserrat', sans-serif;
}

.modalbox.error p {
    font-family: 'Open Sans', sans-serif;
}

.modalbox.error .icon {
    position: relative;
    margin: 0 auto;
    margin-top: -75px;
    background: #970f0f;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.modalbox.error .icon span {
    position: absolute;
    font-size: 4em;
    color: #970f0f;
    text-align: center;
    padding-top: 20px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center .change {
    clear: both;
    display: block;
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
}